/* .box{
    /* height: 500px; */
    /* margin-top: 200px; */
/* } */ 
.box-ch{
    height: 200px;
    width: 200px;
    background-color: blue;
    position: sticky;
    top: 0px;
}
/* position 4 type
relative
absolute
sticky
fixed */
